# History file
.Rhistory
.Rapp.histoy

# Session data files
.RData
.Rproj

# User-specific files
.Ruser.data

# Large nexoid data file.  (Need to save local copy.)
nexoid-validation/data-wrangling-nexoid/

# Rmarkdown knit
.html
.Rproj.user

# R Environment Variables
.Renviron

# Add some data files.
nexoid-validation/data-clean/data_clean_nexoid_all.csv