.html-widget.gauge svg {
  height: 66%; 
  width: 66%; 
  display: block; 
  margin-left: auto;
  margin-right: auto; 
  margin-bottom:-10%;
  }
  
#go{
  display:block;
}

.irs-bar {background: #DF691A;}
.irs-single {background: #DF691A;}
.irs-bar-edge {background: #DF691A;}
.irs-from {background: #DF691A;}
.irs-to {background: #DF691A;}

.btn-facebook {
  background: #428BCA;
  color: #FFFFFF;
}

.btn {
    border-radius: 6px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
  border-radius: 6px;
}

.text-muted {
    color: #777;
}